@media (max-width: 1240px){
/*section content*/
    section.content{
        padding: 60px;
    }
    section.content > div{
        flex-direction: row;
        align-items: flex-start;
    }
    section.content > div .products{
        flex-direction: column;
    }
    section.content > div .products .product{
        margin: 10px 0;
    }
    section.content .description{
        margin-top: 30px;
    }

/*section reviews*/
    .reviews {
        padding: 30px 55px;
    }
    .reviews li .user-info{
        max-width: 400px;
    }
    .reviews .photo-user{
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 980px){
/*section content*/
    section.content{
        padding: 40px;
    }
    section.content > div{
    	flex-wrap: wrap;
    }

/*section reviews*/
    .reviews {
        padding: 25px 40px;
    }
    .reviews li:last-of-type{
        display: none;
    }
    
/*footer*/
    footer .footer_conteiner-info{
      padding: 40px;  
    }

}
@media (max-width: 768px){
/*footer*/
    footer div.footer_logo{
        position: static;
    }
    .footer_conteiner-info .footer_nav{
        margin: unset;
        display: flex;
        flex-direction: column;
    }
    .footer_conteiner-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_nav a:last-of-type{
        border: none;
        margin-top: 10px;
    }

    .products{
        align-items: center;
    }
    .product .align-info{
        width: 100%;
        justify-content: space-around;
    }
    .product .container{
        padding: 0 15px;
        justify-content: flex-end;

    }
    .product .container > button{
        margin-bottom: 10px;
    }
/*form*/
    .card-info, .user-date{
        flex-direction: column;
    }
    form{
        align-self: center;
        
    }
}

@media (max-width: 480px){
/*section content*/
    section.content{
        padding: 20px;
    }
    .products .payment-system {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .products .product .time-sale{
        padding: 0 10px;
    }
    .products .product .time-sale p{
        font: 800 14px/18px OpenSansRegular;
    }
    .products .product .time-sale #end-date-sale{
        font: 800 12px/18px OpenSansRegular;
    }

/*section reviews*/
    .reviews {
        padding: 20px;
    }
    .reviews .photo-user{
        width: 70px;
        height: 70px;
        margin-right: 10px;

    }
    .reviews li .user-info{
        max-width: 300px;
    }
    .reviews li .user-info .review{
        line-height: 20px;
    }

/*footer*/
    footer .footer_conteiner-info{
      padding: 20px;  
    }
}