@media (max-width: 1240px){
/*section content*/
    section.content{
        padding: 60px;
    }
    section.content > div{
        flex-direction: row;
        align-items: flex-start;
    }
    section.content > div .products{
        flex-direction: column;
    }
    section.content > div .products .product{
        margin: 10px 0;
    }
    section.content .description{
        margin-top: 30px;
    }

/*section reviews*/
    .reviews {
        padding: 30px 55px;
    }
    .reviews li .user-info{
        max-width: 400px;
    }
    .reviews .photo-user{
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 980px){
/*section content*/
    section.content{
        padding: 40px;
    }
    section.content > div{
    	flex-wrap: wrap;
    }

/*section reviews*/
    .reviews {
        padding: 25px 40px;
    }
    .reviews li:last-of-type{
        display: none;
    }
    
/*footer*/
    footer .footer_conteiner-info{
      padding: 40px;  
    }

}
@media (max-width: 768px){
/*footer*/
    footer div.footer_logo{
        position: static;
    }
    .footer_conteiner-info .footer_nav{
        margin: unset;
        display: flex;
        flex-direction: column;
    }
    .footer_conteiner-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_nav a:last-of-type{
        border: none;
        margin-top: 10px;
    }
}

@media (max-width: 480px){
/*section content*/
    section.content{
        padding: 20px;
    }

/*section reviews*/
    .reviews {
        padding: 20px;
    }
    .reviews .photo-user{
        width: 70px;
        height: 70px;
    }
    .reviews li .user-info{
        max-width: 300px;
    }

/*footer*/
    footer .footer_conteiner-info{
      padding: 20px;  
    }
}